@import "tailwindcss";

@theme inline {
  --color-primary-dark: #141e30;
  --color-primary-light: #3f5e96;
  --color-secondary: #d1d5db;
  --color-accent: #2bc48a;
  --color-neutral-light: #f7fafc;
  --color-neutral-dark: #253248;
  --color-error: #e53e3e;
}

button {
  cursor: pointer;
}
